*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type="text"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  /* border-radius: 4px; */
}

button {
  cursor: pointer;
  background: #19d340;
  color: white;
  border: 2px solid #007bff;
  /* margin: 0 .5rem; */
}

[type="text"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: rgb(0, 10, 95);
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li span {
  display: inline-block;
  padding: .5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}

li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52)
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #007bff;
}
h4 { 
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.collapsible {
  background-color: rgb(197, 206, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible-no-implemented, .no-implemented{
  background-color: rgb(255, 67, 67);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  visibility: hidden;
}

.collapsible-todo {
  background-color: rgb(255, 180, 67);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(49, 80, 255);
  color: rgb(255, 255, 255);
}

.content {
  display: none;
  overflow: hidden;
  background-clip: padding-box;
}

.line {
  height: 45px;
  display: block;
  /* background: rgb(255, 255, 255); */
  /* color: #000; */
  /* padding: 10px 0; */
  /* text-align: center; */
  /* margin-bottom: 5px;
  margin-top: 5px; */
}

.line-left {
  float:left;
  margin-left: 10px;
  margin-top: 10px;
}

.line-right {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.color-odd {
  background-color: rgb(228, 228, 228);
}

.color-even {
  background-color: rgb(218, 218, 218);
}

.source-button {
  display: inline-block;
  height: 25px;
  -webkit-appearance: none;
  padding: .2rem .5rem;
  font-size: smaller; 
  border: 1px solid #ccc; 
  background-color: rgba(211, 211, 211, 0.527);
  /* border-radius: 4px; */
}

.github-button {
  margin-top: 10px;
  margin-left: 10px;
  height: 16px;
}

.classroom-button {

  margin-top: 25px;
  margin-left: 10px;
  height: 30px;
}

.me-photo {
  border-radius: 50% !important;
  width: 64px;
  height: 64px;
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 10px;

  border:2px solid rgb(225, 230, 255);
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

code {
  color:#06c000;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.fullScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}

.CodeMirror {
  padding: 0px !important;
  height: 85% !important;
}